<% if params[:controller]== 'about' %>
  <div class ="well">
      <h3>Location Info </h3>
        <ul>
           <li>The bookStore </li>
           <li>317 Third Avenue STE 409</li>
           <li>New York, NY 10032</li>
           <li>Phone: (212)555-2458</li>
           <li>Email: support@thebookstore.com</li>
        </ul>
  </div>
<%end%> 